@charset 'UTF-8';

.leftnav {
	width: 200px;
	height: 540px;
	margin-left: 320px;
	margin-top: 160px;
	background-color: pink;
	border: 1px solid red;
	color: #fff;
}

.iconfont {
	float: left;
	width: 16px;
	height: 16px;
	margin: 0 12px 8px;
}
.item-category{
	height: 36px;
	line-height: 36px;
	background-color: red;
}
.item-category h3{
	float: left;
	font-size: 16px;
	font-weight: 700;
}
.nav-item{
	height: 31.2px;
	line-height: 31.2px;
	background-color: #696969;
}
.nav-item:hover{
	color: red;
	background-color: #FFFFFF;
}
.nav-item a{
	font-size: 14px;
}

